<header class="pt-24">
  <div class="relative">
    <img
      class="animate-fade-in-up max-w-xl m-auto"
      src="/logo-a.svg"
      alt="logo"
    />
      <img
      class="absolute top-0 animate-fade-in-up left-0 blur-sm w-full h-full"
      src="/logo-a.svg"
      alt="logo"
    />
  </div>
 
</header>
