---
import SubscribeForm from "../newsletter/components/subscribeForm.astro";
---

<main
  class="max-w-4xl mx-auto flex flex-col justify-center items-center  px-4 py-20 gap-4"
>
  <p class="text-xl text-white/80 text-center text-balance">
    ¿Listos para celebrar las navidades juntos? Descubre la nueva edición de Big
    Ibai y mucho más proximamente.
  </p>
  <h2 class="text-5xl font-normal text-white text-center">
    ¿Quieres que te avisemos?
  </h2>
  <SubscribeForm />
</main>
