---
import GradientOverlay from "../components/GradientOverlay.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo-a.svg" />
    <!-- <meta name="generator" content={Astro.generator} /> -->
    <title>Astro Basics</title>
  </head>
  <body>
    <div id="background-mask" class="min-h-screen">
      <GradientOverlay />
      <div class="relative z-2">
        <slot />
      </div>
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background: #000;
  }

  #background-mask {
    background-image: url("/fondo.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
</style>
